.container {
	max-width: 1600px;
	margin: 0 auto;
	padding: 20px;
	margin-top: 80px;
    min-height: 100vh;
}

.gridWrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* 카드 3개씩 */
	gap: 20px;
	margin-bottom: 20px;
}

.gridItem {
	display: flex;
	justify-content: center;
	align-items: center;
}

.moreButton {
	width: 99%;
	display: block;
	margin: 0 auto 40px;
	padding: 10px 20px;
	font-size: 14px;
	font-weight: bold;
	border: none;
	border-radius: 2px;
	color: #b3b3b3;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.moreButton:hover {
	background-color: #ffd166;
	color: #fff;
}

.moreButton:disabled {
	background-color: #ccc;
	cursor: not-allowed;
}

.title {
    margin-left: 20px;
}