.container {
	width: 100%;
	height: 100vh;
	max-width: 1200px;
	margin: 0 auto;
	align-content: center;
}

.colorBar {
	display: flex;
	border: 1px solid #e3e3e3;
}

.colorItem {
	display: flex;
	width: 1000px;
	flex-direction: column;
	align-items: center;
	border: 1px solid #e3e3e3;

}

.colorBlock {
	width: 100%;
	height: 500px;
}

.colorName {
	margin-top: 6px;
	font-size: 20px;
	color: #757575;
	font-weight: 500;
	height: 50px;
	align-content: center;
	cursor: pointer;
	position: relative;
}

.copied {
	position: absolute;
	bottom: 110%; /* 항상 위쪽으로 */
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 8px; /* 글자와 HEX 코드 간격 */
	font-size: 14px;
	color: #70c1b3;
	white-space: nowrap; /* 줄바꿈 방지 */
	animation: fadeOut 1.5s forwards;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.info {
	text-align:right;
}

.title {
	font-size: 24px;
	margin-bottom: -10px;
}

.mood {
	font-size: 16px;
	color: #555;
}


.bookmarkIcon {
	font-size: 28px;
	color: #ff6f61;
	cursor: pointer;
	transition: transform 0.2s;
	margin-right: 5px;
}

.bookmarkIcon:hover {
	transform: scale(1.2);
}

.bookmarkIconFilled {
	font-size: 28px;
	color: #ff6f61;
	cursor: pointer;
	transition: transform 0.2s;
	margin-right: 5px;
}

.bookmarkIconFilled:hover {
	transform: scale(1.2);
}

.saveMessage {
	margin-top: 8px;
	font-size: 14px;
	color: #70c1b3;
}