.container {
	width: 100%;
	min-height: 100vh;
	max-width: 1200px;
	margin: 0 auto;
	align-content: center;
	padding: 20px;
}

.paletteExportArea {
	display: inline-block; /* 캡처 영역 맞춤 */
	padding: 10px;
	background-color: #fff;
}

/* 컬러칩 줄 */
.colorBar {
	display: flex;
	gap: 10px;
	justify-content: center;
	flex-wrap: nowrap; /* 무조건 한 줄 */
}

/* 컬러 이름 줄 */
.colorNameBar {
	display: flex;
	gap: 10px;
	justify-content: center;
	flex-wrap: nowrap; /* 한 줄로 유지 */
	margin-top: 6px;
}

.colorBlock {
	width: 60px;
	height: 60px;
	border-radius: 4px;
	border: 1px solid #e3e3e3;
}

.colorName {
	width: 60px;
	text-align: center;
	font-size: 14px;
	color: #757575;
	font-weight: 500;
	cursor: pointer;
	position: relative;
}

.copied {
	position: absolute;
	bottom: 110%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 14px;
	color: #70c1b3;
	white-space: nowrap;
	animation: fadeOut 1.5s forwards;
}

@keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

/* 반응형 */
@media (max-width: 900px) {
	.colorBlock { width: 50px; height: 50px; }
	.colorName { font-size: 12px; }
}

@media (max-width: 600px) {
	.colorBlock { width: 40px; height: 40px; }
	.colorName { font-size: 12px; }
}