.container {
	width: 100%;
	height: 100vh;
	max-width: 1200px;
	margin: 0 auto;
	align-content: center;
}

.colorBar {
	display: flex;
	border: 1px solid #e3e3e3;
}

.colorItem {
	display: flex;
	width: 1000px;
	flex-direction: column;
	align-items: center;
	border: 1px solid #e3e3e3;

}

.colorBlock {
	width: 100%;
	height: 500px;
}

.colorName {
	margin-top: 6px;
	font-size: 20px;
	color: #757575;
	font-weight: 500;
	height: 50px;
	align-content: center;
	cursor: pointer;
	position: relative;
}

.copied {
	position: absolute;
	bottom: 110%; /* 항상 위쪽으로 */
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 8px; /* 글자와 HEX 코드 간격 */
	font-size: 14px;
	color: #70c1b3;
	white-space: nowrap; /* 줄바꿈 방지 */
	animation: fadeOut 1.5s forwards;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.info {
	text-align:right;
}

.title {
	font-size: 24px;
	margin-bottom: -10px;
}

.mood {
	font-size: 16px;
	color: #555;
}


/* 버튼 영역: 가로로 정렬, 오른쪽 정렬 */
.actionButtons {
	display: flex;
	flex-direction: row;
	gap: 18px; /* 아이콘 간격 */
	margin-top: 10px;
	justify-content: flex-end; /* 오른쪽 정렬 */
	align-items: center;
}

/* 아이콘 공통 스타일 */
.bookmarkIcon, .bookmarkIconFilled, .shareIcon {
	font-size: 28px; /* 아이콘 크기 */
	color: #70c1b3;
	cursor: pointer;
	transition: transform 0.2s ease;
}

.downloadIcon {
	font-size: 34px;
	color: #70c1b3;
	cursor: pointer;
	transition: transform 0.2s ease;
}

.bookmarkIcon:hover, .bookmarkIconFilled:hover, .shareIcon:hover, .downloadIcon:hover {
	transform: translateY(-2px);
	color: #ff6f61;
}

.bookmarkIconFilled {
	font-size: 28px;
	color: #ff6f61;
	cursor: pointer;
	transition: transform 0.2s;
}

.bookmarkIconFilled:hover {
	transform: scale(1.2);
}

.saveMessage {
	text-align: right;
	margin-top: 8px;
	font-size: 14px;
	color: #70c1b3;
}