.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #fff;
	overflow: hidden;
	width: 500px;
	height: 200px;
	cursor: pointer;
	transition: transform 0.2s;
	border: 1px solid #bcbcbc;
	border-radius: 2px;
}

.card:hover {
	transform: translateY(-4px);
}

.colorBar {
	display: flex;
	flex: 1;
	height: 100%;
}

.colorBlock {
	flex: 1;
	height: 100%;
}

.cardFooter {
	padding: 8px;
	background-color: rgba(255, 255, 255, 0.8);
	text-align: left;
}

.title {
	font-size: 14px;
	font-weight: bold;
	color: #333;
	margin-bottom: 4px;
}

.mood {
	font-size: 12px;
	color: #666;
}

/* 버튼 카드 */
.buttonCard {
	border: 3px dashed #ff6f61;
	display: flex;
	justify-content: center;
	align-items: center;
}

.buttonContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.icon {
	font-size: 50px;
	margin-bottom: 8px;
	color: #ff6f61;
}

.buttonCard .title {
	font-size: 16px;
	font-weight: bold;
	color: #ff6f61;
}