
.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #fff;
	overflow: hidden;
	width: 500px;
	height: 200px; /* 카드 높이 고정 */
	cursor: pointer;
	transition: transform 0.2s;
	border: 1px solid #bcbcbc;
	border-radius: 8px;
}

.card:hover {
	transform: translateY(-4px);
}

.colorBar {
	display: flex;
	flex: 1;
	height: 100%;
}

.colorBlock {
	flex: 1; /* 색상 개수에 따라 동일 비율 */
	height: 100%;
}

.cardFooter {
	padding: 8px;
	background-color: rgba(255, 255, 255, 0.8);
	text-align: left;
}

.title {
	font-size: 14px;
	font-weight: bold;
	color: #333;
	margin-bottom: 4px;
}

.mood {
	font-size: 12px;
	color: #666;
}